@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.navbar, .iconos, .tldr, .imgobras, .bannerpf, .bannerep, .encabezado h1, .encabezado {
  display: flex;
  flex-direction: row;
}

.txtcon, .especialidad, .titulopag, .ncto, .txtdos, .txtuno, .banneros, .banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.encabezado {
  padding: 18px;
}

.encabezado img {
  margin: 30px;
  width: 300px;
  font-size: 50px;
  font-weight: 700;
}

.encabezado h1 {
  margin: 50px;
  font-family: "Merriweather", serif;
  font-size: 90px;
  font-weight: 900;
  color: #73C2BE;
}

.banner {
  padding: 65px;
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-weight: 700;
  background-image: url(/assets/img/prueba+textura.jpg);
  background-position: 100%;
}

.bannerep {
  padding: 100px;
  height: 350px;
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-weight: 700;
  background-image: url(../assets/img/especialidades.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  flex-wrap: nowrap;
  align-content: flex-start;
}

.banneros {
  padding: 100px;
  height: 350px;
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-weight: 700;
  background-image: url(../assets/img/obrassocialesbanner.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
}

.bannerpf {
  height: 350px;
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-weight: 700;
  background-image: url(../assets/img/preguntasss.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.bannercontac {
  width: 100%;
  height: 350px;
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-weight: 700;
  background-image: url(../assets/img/contactobanner.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.txtuno {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 25px;
  height: 100px;
  margin: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.txtdos {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  text-align: center;
  margin: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.carousel-inner {
  width: 100%;
  margin-bottom: 35px;
}

.ncto {
  font-family: "Merriweather", serif;
  font-size: 35px;
  padding: 25px;
  background-color: #73C2BE;
  justify-content: center;
}

.cartas {
  margin: 25px 25px 25px 25px;
}

.titulopag {
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 600;
  background-color: #73C2BE;
  margin: 50px;
  padding: 20px;
}

.tarjetas {
  margin: 30px;
  align-items: center;
}

.txtdes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.txtcon {
  font-family: "Merriweather", serif;
  font-size: 30px;
  background-color: #73C2BE;
}

.imgobras {
  margin-top: 25px;
  margin-left: 15%;
}

.preguntasrespuestas {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.caja {
  padding: 25px;
  margin-left: 100px;
  margin-right: 150px;
}

.datoscontac {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #73C2BE;
  color: rgb(247, 247, 247);
  text-align: center;
}

.tldr {
  padding-top: 20px;
  font-family: "Courier New", sans-serif;
  font-size: medium;
  font-style: oblique;
  font-weight: bolder;
  justify-content: center;
  background-color: black;
  color: white;
}

.iconos {
  align-items: center;
  background-color: black;
  justify-content: center;
}

.iconos img {
  margin: 10px;
}

a {
  outline: none;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.navbar {
  justify-content: space-evenly;
}

.btncard {
  color: white;
  background-color: black;
}

.btncard:hover {
  background-color: #73C2BE;
}

@media (max-width: 600px) {
  .encabezado {
    flex-direction: column;
    margin: 20px;
    padding: 0px;
    align-items: center;
  }
  .encabezado h1 {
    font-size: 40px;
    text-align: center;
  }
  .encabezado img {
    width: 200px;
    align-items: center;
  }
  .navbar {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .banner {
    padding: 25px;
    font-size: 20px;
    font-weight: 300;
    background-position: 100%;
  }
  .txtuno {
    font-size: 11px;
    height: 80px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
  }
  .ncto {
    font-size: 25px;
    padding: 15px;
    background-color: #73C2BE;
  }
  .txtdos {
    font-size: 10px;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  .bannerep {
    height: 200px;
    padding: 25px;
    font-size: 20px;
    font-weight: 300;
    background-position: 100%;
  }
  .banneros {
    max-width: 100%;
    padding: 25px;
    font-size: 20px;
    font-weight: 300;
    background-position: 100%;
  }
  .bannerpf {
    background-size: auto;
    font-size: 20px;
    font-weight: 300;
  }
  .bannercontac {
    width: 100%;
    height: 250px;
    font-size: 20px;
    font-weight: 300px;
    background-image: url(../assets/img/contactobanner.jpg);
  }
  .cartas {
    width: 30%;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .row .card {
    width: 350%;
  }
  .preguntasrespuestas {
    font-size: 10px;
  }
  .caja {
    padding: 10px;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
  }
  .tldr {
    padding-top: 10px;
    font-size: small;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
