$colorprim: #73C2BE;
$colortxt: black;
$colorbtn: white;
$fuentetitulos: 'Merriweather', serif;
$fuentesec: Arial, Helvetica, sans-serif;
$tamaniotxtsec: 18px;

%flexrow{
    display: flex;
    flex-direction: row;
}

%flexrowcenternw{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

%bannermedidasletra{
    font-size: 50px;
    font-weight: 700;
}